.container {
  width: 1024px;
  padding: 2em;
}

.bold-blue {
  font-weight: bold;
  color: #0277BD;
}


.filter {
  width: 15%;
  height: 36;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.filter-remaining {
  width: 40%;
}

.filter-button {
  float: right;
  height: 36;
}
